@import './base.css';
@import './components/lorem_paragraphs.css';
@import './components/visitor_card.css';
@import './views/visitor_report.css';

#app {
  max-width: 1280px;
  width: 100%;
  min-height: 100vh;
  margin: 0 auto;
  padding: 1rem 2rem 2rem 2rem;

  font-weight: normal;
}

.min-h-screen {
  display: flex;
  flex-direction: column;
}

nav {
  margin-bottom: 3rem;
}

a,
.green {
  text-decoration: none;
  color: hsla(160, 100%, 37%, 1);
  transition: 0.4s;
}

@media (hover: hover) {
  a:hover {
    background-color: hsla(160, 100%, 37%, 0.2);
  }
}

a.router-link-active {
  text-decoration: underline;
}

nav a {
  font-size: 1rem;
  font-weight: 600;
  padding: 0.25rem;
  margin-right: 1rem;
}

@media (min-width: 1024px) {
  body {
    display: flex;
    align-items: flex-start;
    justify-content: center;
  }

  #app {
    display: grid;
  }
}
